#about {
    .team {
        margin-top: 46px;
        
        p {
            margin-top: 12px;
            font-size: 13px;
            color: #666;
            font-weight: 300;
            line-height: 24px;
            padding: 25px;
        }
    }
}