body{
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 2.2rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.accessory-hr {
    height: 6px;
    background-image: radial-gradient(
        closest-side,
        hsla(0, 0%, 50%, 1.0),
        hsla(0, 0%, 50%, 0) 100%);
    width: 100%;
}

.accessory-hr1 {
    border: 0;
    height: 1px;
    background-image: radial-gradient(
        closest-side,
        hsla(0, 0%, 50%, 1.0),
        hsla(0, 0%, 50%, 0) 100%);;
    margin: 20px 0;
}

footer {
    background-color: $slih-black;

    .soc {
        margin-top: 42px;
        text-align: center;

        .soc-icons {
            .soc-icon {
                margin-bottom: 20px;
                margin-right: 23px;
                text-align: center;
                text-decoration: none;
                list-style: none;
                width: 52px;
                height: 52px;
                border: 2px solid #fdfdfc;
                border-radius: 50px;
            }
        } 

        .soc2 a{
            display: inline-block;
            height: 17px;
            width: 17px;
            background: url(../images/socIcons.png) -74px 0 no-repeat;
            margin-top: 15px;
            margin-left: 2px;
        }

        .soc3 a {
            display: inline-block;
            height: 19px;
            width: 19px;
            background: url(../images/socIcons.png) -147px 0 no-repeat;
            margin-top: 15px;
            margin-left: 0px;
        }
    }

    .footer-links {
        ul {
            list-style: none;
        }

        a {
            padding: 15px;
            font-size: 13px;
            font-weight: 300;
            text-decoration: none;
            color: $white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}